
@font-face {
    font-family: quark;
	src: url(../fonts/quark-bold.otf);
	font-weight: bold;
}

@font-face {
    font-family: quark;
    src: url(../fonts/quark-light.otf);
}

* {
	font-family: quark;
}

.queue-box {
	margin: 20px 80px 20px 80px
}
.icon-addon {
	position: relative;
	color: #555;
	display: block;
}
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}
.icon-addon .glyphicon {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px;
}
.queue-number {
	font-size: 58px;
}
.queue-header {
	font-size: 28px;
}

.home .navbar{
	background: white;
}

.home .navbar-header{
	text-align: center;
	width: 100%;
}

.home a.navbar-brand{
	margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.home a.navbar-brand img{
	margin: 0 auto;
	margin-top: 5px;
}

.home .que-box h1{
	font-weight: bold;
	font-size: 46px;
	margin: 8px;
}

.home .que-box h2{
	font-size: 26px;
	margin: 8px;
}

.home .que-box .tel-text{
	font-size: 14px;
}

.home .que-box .tel{
	color: #78cdd4;
	font-weight: bold;
	font-size: 16px;
}

.home .que-box .ques{
	font-size: 16px;
}

.home .que-box {
	margin: 0 auto;
	max-width: 320px;
}
