.first-queue {
	color: #f26e7b;
}
.queue-table {
	color: ;
	background-color: #e1e1e1; 
}
.icon-addon {
	position: relative;
	color: #555;
	display: block;
}
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}
.icon-addon .glyphicon {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px;
}
.queue-number {
	font-size: 58px;
}
.queue-header {
	font-size: 28px;
}
.panel-queuetable>.panel-heading  {
	color: #999999;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.panel-queue {
    border-color: #78cdd4;
}
.panel-queue>.panel-heading {
    color: #fff;
    background-color: #78cdd4;
    border-color: #78cdd4;
}
.btn-queue {
    color: #fff;
    background-color: #f26e7b;
    border-color: #f26e7b;
}
